name: CI/CD Pipeline

permissions:
  contents: read
  packages: write


on:
  push:
    branches:
      - main
      - develop
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Backend build test
      - name: Build Backend Image (Test)
        run: docker build -t llm-chatbot-backend:ci ./backend

      # Frontend build test
      - name: Build Frontend Image (Test)
        run: docker build -t llm-chatbot-frontend:ci ./frontend

  build-and-push:
    needs: build
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            ghcr.io/kieranarchi98/genesis-ai-chatbot-backend:latest
            ghcr.io/kieranarchi98/genesis-ai-chatbot-backend:${{ github.sha }}

      - name: Build and push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: |
            ghcr.io/kieranarchi98/genesis-ai-chatbot-frontend:latest
            ghcr.io/kieranarchi98/genesis-ai-chatbot-frontend:${{ github.sha }}



